body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.head {
    background: black;
    height: 23%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}
#logo {
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.bt {
    background: rgb(81, 112, 255);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(255, 86, 230, 1) 100%);
    border: none;
    color: white;
    width: 9rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}
.bt:hover{ 
    opacity: 0.8
}
.bt:active{ 
    opacity: 0.6
}
.div-principal{
    background: #242424;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 50px;
}
.div-itens{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.div-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.list{
    background: #414040;
    border:none;
    color:#ffffff;
    border-radius: 10px;
    width: 45%;
    height: 2.5rem;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trash{
    background: none;
    border: none;
    cursor: pointer;
    }