body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    background: black;
    height: 23%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    color: #ffffff;
    font-size: 15px;


    img{
        width: 110px;
        border-radius: 50%;
    }
}

.bt {
    background: rgb(81, 112, 255);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(255, 86, 230, 1) 100%);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 15px 20px;
    height: 2.5rem;
    font-size: 15px;
}
.bt:hover{ 
    opacity: 0.8
}
.bt:active{ 
    opacity: 0.6
}

.campos-principais {
    display: flex;
    gap: 7rem;
    padding: 30px;
    justify-content: center;
    background: #242424;
    height: 100%;
}

.campo-data {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 37px;
    height: 3%;
    color:#ffffff;
    background:  #414040;
    border: none;
}
.campos-listas{
    width: 35%;
}
.itens{
    background: #414040;
    margin-bottom: 30px;
    color: #ffffff;
    height: 37px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 10px;

p{
    font-size: 17px;
}
}

#logo {
    width: 14%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:810px) {
    .header {
        height: 23%;
    }
    #logo{
        width: 26%;
        height: 90%;
        margin-top: 12px;
    }
}

@media screen and (max-width:480px) {
    #logo {
        width: 30%;
    }
    .header {
        height: 15%;
    }
}