body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    background: black;
    height: 14%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}

.bt-nav {

    background: rgb(81, 112, 255);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(255, 86, 230, 1) 100%);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50%;
    width: 8%;
}

.bt-nav:hover {
    opacity: 0.8
}

.bt-nav:active {
    opacity: 0.6
}

.container-main {
    background: #242424;
    height: 55%;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 35px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#logo {
    width: 25%;
    height: 62%;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 1.5s;
}

#logo:hover {
    border-radius: 10px;
}

.second-container {
    background: #242424;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
    gap: 60px;
    height: 100%;


}

.bt-add {
    background: rgb(81, 112, 255);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(255, 86, 230, 1) 100%);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    width: 30%;
    font-size: 17px;
}

.bt-add:hover {
    opacity: 0.8;
}

.bt-add:active {
    opacity: 0.6
}

.div-button {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
}

.div-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.title-list {
    font-size: 20px;
    font-weight: 200;
}

.list {
    background: #414040;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    width: 45%;
    height: 2.5rem;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list:hover {
    opacity: 0.8;
    background: rgb(81, 112, 255);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(255, 86, 230, 1) 100%);
}

.list:active {
    opacity: 0.6;

}

.trash {
    background: none;
    border: none;
    cursor: pointer;
}

#formulario {
    position: fixed;
    display: none;
    top: 11%;
    left: 40%;
    z-index: 1;
    align-items: center;
    background: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    width: 20%;
    height: 30%;
    justify-content: center;

    span {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;

    input {
        height: 20px;
        margin-bottom: 11px;
        padding-left: 5px;
        width: 100%;
    }

    button {
        font-size: 16px !important;
        height: 36px;
    }
}

.bt-delete {
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:810px) {

    #formulario {
        width: 30%;
        height: 200px;
        left: 35%;
    }

    .container-main {
        height: 37%;
        gap: 49px;

        div {
            font-size: 18px;
        }
    }

    #logo {
        height: 200px;
        width: 40%;
    }

    .list {
        width: 70%;
    }

    #nav {
        height: 36%;
        width: 93px;
    }

}

@media screen and (max-width:480px) {

    #formulario {
        width: 50%;
        left: 23%;
    }

    #logo {
        width: 40%;
    }

    .container-main {
        height: 37%;
        gap: 30px;

        div {
            font-size: 15px;
        }
    }

    #logo {
        height: 200px;
        width: 50%;
    }

    .list {
        width: 70%;
    }
}

@media screen and (max-width:400px) {

    #logo {
        width: 55%;
        height: 150px;
    }

    .container-main {

        div {
            font-size: 14px;
        }
    }

}